@page "/dashboards"
@inject NavigationManager NavigationManager

<div class="dashboards-container row">
    <div class="group_2 column">
        <h6 class="h6">Dashboards</h6>
        <IgbList class="list" dashboards-scope>
            <IgbListItem class="list-item" dashboards-scope>
                <div slot="title">Dashboards</div>
                <div slot="end">
                    <span class="material-icons icon_1">dashboard</span>
                </div>
            </IgbListItem>
            <IgbListItem class="list-item" dashboards-scope>
                <div slot="title">Favorites</div>
                <div slot="end">
                    <span class="material-icons icon_1">star</span>
                </div>
            </IgbListItem>
            <IgbListItem class="list-item" dashboards-scope>
                <div slot="title">Recent</div>
                <div slot="end">
                    <span class="material-icons icon">access_time</span>
                </div>
            </IgbListItem>
            <IgbListItem class="list-item" dashboards-scope>
                <div slot="title">Samples</div>
                <div slot="end">
                    <span class="material-icons icon_1">ballot</span>
                </div>
            </IgbListItem>
        </IgbList>
    </div>
    <div class="group_3 column">
        <div class="group row">
            <h5 class="h5">Recent</h5>
        </div>
        <div class="group_1 row">
            <IgbCard Outlined="true" class="card" dashboards-scope>
                <IgbCardMedia>
                    <img src="assets/ferrari-430-scuderia-2560x1440-2018-cars-autumn-road-5k-16855.jpg" />
                </IgbCardMedia>
                <IgbCardHeader>
                    <h3 slot="title">
                        
                    </h3>
                    <h5 slot="subtitle">
                        
                    </h5>
                </IgbCardHeader>
                <IgbCardActions class="actions-content" dashboards-scope>
                    <IgbButton Variant="ButtonVariant.Flat">
                        <span class="material-icons">star_border</span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat">
                        <span class="material-icons">share</span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                </IgbCardActions>
            </IgbCard>
            <IgbCard Outlined="false" @onclick="@(e => Navigate("/dashboards"))" class="card_1" dashboards-scope>
                <IgbCardMedia>
                    <img src="assets/ferrari-430-scuderia-2560x1440-2018-cars-autumn-road-5k-16855.jpg" />
                </IgbCardMedia>
                <IgbCardHeader>
                    <h3 slot="title">Artists Analysis</h3>
                    <h5 slot="subtitle">Jun 15, 2020 - Jason Anderson</h5>
                </IgbCardHeader>
                <IgbCardActions class="actions-content" dashboards-scope>
                    <IgbButton Variant="ButtonVariant.Flat">
                        <span class="material-icons">star_border</span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat">
                        <span class="material-icons">share</span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                </IgbCardActions>
            </IgbCard>
            <IgbButton Variant="ButtonVariant.Fab" class="button" dashboards-scope>
                <span class="material-icons">add</span>
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbCard Outlined="false" class="card" dashboards-scope>
                <IgbCardMedia>
                    <img src="https://static.infragistics.com/marketing/reveal/reveal-app-data-visualization-decision-making-create-chart-types-graphic-768.jpg?v=201812181150" />
                </IgbCardMedia>
                <IgbCardHeader>
                    <h3 slot="title">For evaluation</h3>
                    <h5 slot="subtitle">Jun 15, 2020 - Martina Roberts</h5>
                </IgbCardHeader>
                <IgbCardActions class="actions-content" dashboards-scope>
                    <IgbButton Variant="ButtonVariant.Flat">
                        <span class="material-icons">star</span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat">
                        <span class="material-icons">share</span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                </IgbCardActions>
            </IgbCard>
            <IgbCard Outlined="false" class="card" dashboards-scope>
                <IgbCardMedia>
                    <img src="https://static.infragistics.com/marketing/reveal/reveal-app-data-visualization-dashboard-screenshot-768.jpg?v=201812181150" />
                </IgbCardMedia>
                <IgbCardHeader>
                    <h3 slot="title">Stylescape Results</h3>
                    <h5 slot="subtitle">Jun 15, 2020 - Caroline Sanders</h5>
                </IgbCardHeader>
                <IgbCardActions class="actions-content" dashboards-scope>
                    <IgbButton Variant="ButtonVariant.Flat">
                        <span class="material-icons">star_border</span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat">
                        <span class="material-icons">share</span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                </IgbCardActions>
            </IgbCard>
        </div>
    </div>
</div>

@code {
    private void Navigate(string path)
    {
        NavigationManager.NavigateTo(path);
    }
}
